Package: yabasic
Version: 2.86.8-1
Section: base
Priority: optional
Architecture: amd64
Depends: libncurses5 (>= 6.0), libtinfo5 (>= 6.0), libx11-6 (>= 2.1.6.3)
Maintainer: Michel Clasuin-Johnson <clasqm@gmail.com>
Description: yabasic
 Yabasic implements the most common and simple
 elements of the BASIC language. It comes with
 goto/gosub, with various loops, with user defined
 subroutines and libraries. Yabasic does simple graphics
 and printing. Yabasic runs under Unix and Windows,
 it is small, open source and free. Source available (MIT-
 licensed) at www.yabasic.de.
